.pageHeader {
    font-family: 'Meow Script', cursive;
    font-size: 50px;
    color: rgba(182, 92, 182, 0.699);
    margin-bottom: 40px;
    border: 2px double;
    padding: 10px;
    box-shadow: 3px 5px 17px 8px rgba(255, 127, 80, 0.37);
}

.section__header {
    color: rgb(182, 92, 182);
    font-family: 'Meow Script', cursive;
}

.section__picButton {
    border: 3px dotted rgba(182, 92, 182, 0.425);
    border-radius: 6px 12px 30px 20px;
    padding: 10px 7%;
    margin: 2%;
}

.section__paragraph {
    border: 3px dotted rgba(182, 92, 182, 0.425);
    border-radius: 6px 17px 44px 30px;
    padding: 10px 7%;
    margin: 2%;
}

.section__strong {
    color: rgb(150, 25, 199);
}


